body{
    background-image: url("../images/oceanbg.jpg");
    background-size: cover;
}

.all-game{
    margin: 20px;
    font-family: monospace;
    font-size: 1.25em;
}

.all-game h1{
    font-size: 1.25em;
    font-weight: 600;
    text-align: center;
}
.content{
    padding: 10px;
    border: solid 2px grey;
    background: rgba(39, 59, 67, 0.363);
    margin: 6px;
}

#game-title{
    padding: 10px;
}

#game-rules{
    padding: 10px;
    border: solid 2px grey;
    background: rgba(39, 59, 67, 0.363);
}

#game-stats{
    display: flex;
}
#game-score{
    flex: 0.5;
}

#game-crystals{
    /* display: flex; */
}

.crystal{
    flex: 0.25;
}

#game-target{
    flex: 0.5;
}

#game-winslosses{
    display: flex;
}

#game-wins{
    flex: 0.5;
    /* float: left; */
    }
#game-losses{
    flex: 0.5;
    /* float: right; */

}

.crystal{
    display: inline;
    padding: 2px;
}